<!doctype html>
<head>
	<meta charset="utf-8">
	<title>My 1st page</title>

</head>
<body>
	<h1>My firest site</h1>
	<button type="button"> 
		<a href="#profile">Profile</a>
	</button>
	<button type="button"> 
		<a href="#members">Members</a>
	</button>
	<button type="button"> 
		<a href="#top">Top Members</a>
	</button>
	<hr>
	<button type="button"> 
		<a href="#Create">Create</a>
	</button>
	<ul>
  <table >
  <tr>
    <th>Titel</th>
    <th>Edit</th> 
    <th>Delete</th>
  </tr>
  <tr>
    <td>topic1</td>
    <td><button>edit</button></td>
    <td><button>delete</button></td>
  </tr>
  <tr>
    <td>topic1</td>
    <td><button>edit</button></td>
    <td><button>delete</button></td>
  </tr>
  <tr>
    <td>topic1</td>
    <td><button>edit</button></td>
    <td><button>delete</button></td>
  </tr>
</table>
</ul>
</body>

